{% extends 'base.html.twig' %}
{% block title %}
    {{ data.pageTitle }}
    | The Holy BF
{% endblock %}

{% block content %}
<div class="container">
    <h1> {{ data.pageTitle }}</h1>



    {% endblock %}


